:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
    --Blue: hsl(228, 45%, 44%);
    --shadow-color: rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;    
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontálne centrovanie */
    align-items: center; /* Vertikálne centrovanie */
    min-height: 100vh;
    width: 100%;
    margin: 0;
    gap: 0.5rem; /* Medzera medzi kartou a pätkou */
    background-color: var(--Grey900);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertikálne centrovanie */
    background-color: var(--Grey800);
    border-radius: 0.75rem; /* Zaoblenie  */
    /* Tento zápis vytvorí ten efekt vrstvenia */
    box-shadow: 
        0 0.625rem 1.25rem var(--shadow-color);
    margin: 0 auto; /* Toto kartu vycentruje vodorovne */
    padding: 1.5rem 1.5rem;
    width: 100%;
    max-width: 24rem;
    min-width: 20.43rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontálne centrovanie */
    align-items: center; /* Vertikálne centrovanie */
}

img {
    border-radius: 50%;
    width: 5.5rem; /* Fixná šírka avataru */
    height: 5.5rem;
    object-fit: cover;    /* Zabezpečí, že sa obrázok pri zmene pomeru nezdeformuje */
    margin: 0;
}

h1 {
    font-size: 1.5rem; 
    padding-block-start: 1.7rem;
    color: var(--White);
    font-weight: 600;
    margin: 0;
}

.place {
    font-size: 0.85rem;
    padding-block-start: 0.65rem;
    margin: 0;
    color: var(--Green);
    font-weight: 700;
    letter-spacing: 0.01rem;
}

.position {
    font-size: 0.85rem;
    margin: 0;
    font-weight: 400;
    color: var(--White);
    padding-block-start: 1.75rem;   
    letter-spacing: 0.01rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: 1rem; /* Pridá rovnomerné medzery medzi tlačidlá */
    padding: 1.675rem 0 0 0;
    width: 100%; /* Aby tlačidlá vyplnili šírku karty */
}

.social-links li {
    text-align: center;
    background-color: var(--Grey700);
    border-radius: 0.5rem;
    width: 100%; /* Aby tlačidlá vyplnili šírku karty */    
}

.social-links a {
    display: block;/*aby sa dali klikať po celej šírke*/
    width: 100%;
    text-decoration: none;
    padding: 0.875rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--White);
    transition: background-color 0.3s, color 0.3s; /* Voliteľné: spraví zmenu farby plynulou */
}

.social-links li:hover {
    background-color: var(--Green); 
}

.social-links li:hover a {
    color: var(--Grey900);
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution-link { 
    color: var(--Blue); 
}

/* Desktop Styles (Larger screens (min-width: 23.5rem)) */
@media (min-width: 48rem)  /* 48rem = 768px (tablety a desktopy) */ {
    .card {
        width: 21.75rem; 
        padding: 2.25rem 2.25rem;
    } 

    h1 {
        font-size: 1.35rem; 
        padding-block-start: 1.55rem;
    }

    .place {
        font-size: 0.76rem;
        padding-block-start: 0.55rem;
    }

    .position {
        font-size: 0.77rem;
        padding-block-start: 1.6rem;
    }

    img {
        width: 5rem; /* Fixná šírka avataru */
        height: 5rem;    
    }

    .social-links {
        padding: 1.52rem 0 0 0;
        gap: 0.9rem; /* Pridá rovnomerné medzery medzi tlačidlá */
    }

    .social-links a {
        padding: 0.8rem;    /* Trochu užšie tlačidlá pôsobia na desktope elegantnejšie */
        font-size: 0.8rem;   /* Prispôsobenie veľkosti písma k ostatným textom */
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
    animation: none;
  }
}